/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk { quick-release; };

/ {
    combos {
        compatible = "zmk,combos";

        layerSwap0 {
            bindings = <&tog 1>;
            key-positions = <42 43 0>;
            layers = <0 1 2>;
        };

        layerSwap1 {
            bindings = <&tog 2>;
            key-positions = <42 43 1>;
            layers = <0 1 2>;
        };
    };

    macros {
        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>, <&macro_press>;

            label = "PASTE";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&macro_press>;

            label = "COPY";
        };
    behaviors {
        nav_lock: nav_lock {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Nav Lock";
            locking;
            };
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Gallium";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                              &kp N6      &kp N7  &kp N8      &kp N9         &kp N0      &none
&kp TAB    &kp B   &kp L   &kp D     &kp C     &kp V                               &kp J       &kp Y   &kp O       &kp U          &kp COMMA   &kp BACKSLASH
&kp LCTRL  &kp N   &kp R   &kp T     &kp S     &kp G                               &kp P       &kp H   &kp A       &kp E          &kp I       &kp QUESTION
&sk LSHFT  &kp X   &kp Q   &kp M     &kp W     &kp Z   &copy        &paste         &kp K       &kp F   &kp SQT     &kp SEMICOLON  &kp PERIOD  &kp SLASH
                           &kp LALT  &kp LGUI  &mo 3   &kp SPACE    &kp BACKSPACE  &kp RETURN  &mo 4   &kp DELETE
            >;
        };

        first_layer {
            display-name = "qwerty";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                              &kp N6      &kp N7  &kp N8      &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                               &kp Y       &kp U   &kp I       &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                               &kp H       &kp J   &kp K       &kp L    &kp SEMI  &kp SQT
&sk LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &copy        &paste         &kp N       &kp M   &kp COMMA   &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LGUI  &mo 3   &kp SPACE    &kp BACKSPACE  &kp RETURN  &mo 4   &kp DELETE
            >;
        };

        second_layer {
            display-name = "Gaming";
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                              &kp N6      &kp N7  &kp N8      &kp N9   &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W   &kp E     &kp R      &kp T                               &kp Y       &kp U   &kp I       &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D     &kp F      &kp G                               &kp H       &kp J   &kp K       &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C     &kp V      &kp B   &mo 5        &paste         &kp N       &kp M   &kp COMMA   &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LALT  &kp LCTRL  &mo 5   &kp SPACE    &kp BACKSPACE  &kp RETURN  &mo 4   &kp DELETE
            >;
        };

        symbol_layer {
            display-name = "Symbols";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1   &bt BT_SEL 2      &bt BT_SEL 3       &bt BT_SEL 4                     &none        &none                 &none                  &none          &none              &none
&none       &kp GRAVE        &kp LESS_THAN  &kp GREATER_THAN  &kp MINUS          &kp PIPE                         &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR     &kp SLASH          &none
&none       &kp EXCLAMATION  &kp ASTERISK   &kp BACKSLASH     &kp EQUAL          &kp AMPERSAND                    &kp POUND    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp DOUBLE_QUOTES  &none
&none       &kp TILDE        &kp PLUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT    &trans    &trans  &kp AT_SIGN  &kp COLON             &kp COMMA              &kp PERIOD     &kp SINGLE_QUOTE   &none
                                            &trans            &trans             &trans         &trans    &trans  &trans       &trans                &trans
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                            &trans         &trans                  &trans                   &trans           &trans      &trans
&trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10                           &kp PAGE_UP    &kp HOME                &kp UP_ARROW             &kp END          &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans                            &kp PAGE_DOWN  &kp LEFT_ARROW          &kp DOWN_ARROW           &kp RIGHT_ARROW  &kp DELETE  &trans
&trans  &trans  &trans  &trans  &trans  &trans   &trans    &nav_lock 4    &kp LC(Z)      &kp LS(LC(LEFT_ARROW))  &kp LS(LC(RIGHT_ARROW))  &kp LS(F10)      &trans      &trans
                        &trans  &trans  &trans   &trans    &trans         &trans         &trans                  &trans
            >;
        };

        gLower_layer {
            display-name = "GLower";
            bindings = <
&kp F12  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                    &trans       &trans     &trans     &trans     &trans    &trans
&kp F11  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                          &kp N6       &kp N7     &kp UP     &kp N9     &kp N0    &none
&none    &none         &none         &none         &none         &none                           &none        &kp LEFT   &kp DOWN   &kp RIGHT  &none     &none
&kp F7   &kp F8        &kp F9        &kp F10       &kp F11       &kp F12       &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
                                     &trans        &trans        &trans        &trans    &trans  &trans       &trans     &trans
            >;
        };
    };
};
